@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* html {scroll-behavior: smooth;} */
body {
    font: 20px 'Montserrat', 'sans-serif';
    line-height: 1.8;
    background-color: black;
}
header{
  display: flex;
  justify-content: flex-end;
}
header img{
  height: 32px;
  width: auto;
  margin: 5px 15px 7px 5px;
}
header img:hover{
  filter: brightness(100);
  cursor: pointer;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: auto;
  background-image:  linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 100, 0)),  url("imagen/intro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 108%;
  color: #ffffff;
}
footer{
  display: flex;
  justify-content: flex-end;
  background-color: #black;
  background-color: black;
}
p {font-size: 12px;}
h1{
  font-size: 70px;
  color: black;
  font-family: 'Ubuntu', sans-serif;}
h3{
  font-size: 84px;
  color: grey;
  font-family: 'Ubuntu', sans-serif;
}
a{color: #ffffff;}
button{
  background-color: transparent;
  border: 0px;
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 25px;
}
.enlacesinicio{
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 100, 0));
  opacity: 0;
  text-align: right;
}
.nav li a:hover{
  background: linear-gradient(to left, white, rgb(10, 10, 10));
  color: black;
}
.padding-right{
  padding-right: 80px;
}
.align-right{
  text-align: right;
}
