@keyframes appear {
    0%  {opacity: 0}
    100%{opacity: 1}
}
@keyframes disappear {
    0%  {opacity: 1}
    100%{opacity: 0}
}
@keyframes jump {
    0%   {transform: translateX(0px); opacity: 1;}
    100% {transform: translateX(-220px); opacity: 1;}
}
@keyframes move-right {
    0% {
        transfrom: translateX(0px);
        opacity: 0
    }
    100% {
        transform: translateX(120px);
        opacity: 1
        }
}
@keyframes move-down {
    0% {
        transfrom: translateY(0px);
        opacity: 0
    }
    100% {
        transform: translateY(40px);
        opacity: 1
        }
}
@keyframes move-up {
    0% {
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes still{
    0%{
        transform: tanstlateY(0px)
    }
    100%{
        transform: tanstlateY(0px)
    }
}
@keyframes slide-left{
    0% {
        transfrom: translateX(0px);
        opacity: 1
    }
    100% {
        transform: translateX(-500px);
        opacity: 0
        }
}
@keyframes slide-right{
    0% {
        transfrom: translateX(0px);
        opacity: 1
    }
    100% {
        transform: translateX(500px);
        opacity: 0
        }
}
.aparecer{
    animation: appear 2s 0.3s 1 ease-in-out forwards;
    opacity: 0;
}
.desvanecerderecha{
    animation: move-right 2s 1s 1 ease-in-out forwards /*duration/delay/final opacity, forwards: it stays in the final configuration*/;
}
li:nth-child(1) > .desvanecerderecha{animation-delay: 1s;}
li:nth-child(2) > .desvanecerderecha{animation-delay: 1.2s;}
li:nth-child(3) > .desvanecerderecha{animation-delay: 1.4s;}
li:nth-child(4) > .desvanecerderecha{animation-delay: 1.6s;}
.fall1, .fall2, .fall3, .fall4{ /*initial tab configurations*/
    position: relative;
    bottom: 40px;
    opacity: 0;
}
.gallery-img{
    opacity: 0;
    animation: move-down 1.3s 0s 1 ease-in-out forwards;
}
.fall1{animation: move-down 1.3s 0.3s 1 ease-in-out forwards;}
.fall2{animation: move-down 1.3s 0.6s 1 ease-in-out forwards;}
.fall3{animation: move-down 1.3s 0.9s 1 ease-in-out forwards;}
.fall4{animation: move-down 1.3s 1.2s 1 ease-in-out forwards;}
.fall5{animation: move-down 1.3s 1.5s 1 ease-in-out forwards;}
.fall6{animation: move-down 1.3s 1.8s 1 ease-in-out forwards;}
.fall7{animation: move-down 1.3s 2.1s 1 ease-in-out forwards;}
/* .gallery-img img{
    animation: still 0.5s 0s 1 ease-in-out forwards;
}
.gallery-img img:hover, .jam-game:hover{
    animation: move-up .5s 0s 1 forwards;
    /* animation-iteration-count: infinite; */
} */
.go-left{animation: slide-left 0.5s 0s 1 ease-in-out forwards;}
.go-right{animation: slide-right 0.3s 0s 1 ease-in-out forwards;}


/* .slide-appear{animation: appear 5s 0s 1 ease-in-out forwards;}
.slide-disappear{animation: disappear 0.2s 0s 1 ease-in-out forwards;} */