@keyframes backgroundPan{
    0%   {background-position: 0 0;}
    100% {background-position: -100% -150%;}
}
@keyframes appear {
    0%  {opacity: 0}
    100%{opacity: 1}
}
@keyframes disappear {
    0%  {opacity: 1}
    100%{opacity: 0}
}
@keyframes grow-horizontal{
    0%{
        transform: scaleX(0);
        opacity: 0;
    }
    100%{
        transform: scaleX(1);
        opacity: 1;
    }
}
@keyframes grow-vertical{
    0%{
        transform: scaleY(0);
        opacity: 0;
    }
    100%{
        transform: scaleY(1);
        opacity: 1;
    }
}
@keyframes jump {
    0%   {transform: translateX(0px); opacity: 1;}
    100% {transform: translateX(-220px); opacity: 1;}
}
@keyframes move-left {
    0% {
        transform: translateX(0px);
        opacity: 0
    }
    100% {
        transform: translateX(-120px);
        opacity: 1
        }
}
@keyframes move-right {
    0% {
        transform: translateX(0px);
        opacity: 0
    }
    100% {
        transform: translateX(120px);
        opacity: 1
        }
}
@keyframes move-down {
    0% {
        transform: translateY(0px);
        opacity: 0
    }
    100% {
        transform: translateY(40px);
        opacity: 1
    }
}
@keyframes move-up {
    0% {
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes still{
    0%{
        transform: tanstlateY(0px)
    }
    100%{
        transform: tanstlateY(0px)
    }
}
@keyframes slide-left{
    0% {
        transfrom: translateX(0px);
        opacity: 1
    }
    100% {
        transform: translateX(-500px);
        opacity: 0
        }
}
@keyframes slide-right{
    0% {
        transform: translateX(0px);
        opacity: 1
    }
    100% {
        transform: translateX(500px);
        opacity: 0
        }
}
@keyframes shrinkFromCenter{ /*animation breaks at the end so I'm using 30% as the endpoint and cutting it early*/
    0%{
        opacity: .3;
    }
    30%{
        transform: scale(.2);
        opacity: .3;
    }
}
@keyframes growFromCenter{ /*animation breaks at the end so I'm using 30% as the endpoint and cutting it early*/
    0%{
        transform: scale(.2);
        position: relative;
        opacity: .3;
    }
    30%{
        transform: scale(1);
    }
}
@keyframes growFromLeft{
    0%{
        transform: scale(.45);
        position: relative;
        right: 500px;
        opacity: .3;
    }
    30%{
        transform: scale(1);
        right: 0px;
    }
}
@keyframes growFromRight{
    0%{
        transform: scale(.45);
        position: relative;
        left: 500px;
        opacity: .8;
    }
    30%{
        transform: scale(1);
        left: 0px;
    }
}
@media (prefers-reduced-motion: no-preference) {
    html{
        animation: backgroundPan 90s linear infinite;
    }
    .modal::before{
        animation: backgroundPan 90s linear infinite;
    }
    .aparecer{
        animation: appear 2s 0.5s 1 ease-in-out forwards;
        opacity: 0;
    }
    .desvanecerderecha{
        animation: move-right 2s 1s 1 ease-in-out forwards /*duration/delay/final opacity, forwards: it stays in the final configuration*/;
    }
    .titles h2{
        animation: appear 1.5s 1s 1 ease-in-out forwards;
        opacity: 0;
    }
    .black-bar{
        transform: scaleX(0);
        animation: grow-horizontal 1.5s 1.5s 1 ease-in-out forwards;
        opacity: 0;
        transform-origin: left center;
    }
    .black-bar:nth-child(1){
        transform-origin: right center;
    }
    .nav li a:hover, .nav li a:focus{
        transition-duration: .3s;
        translate: -92px 0px;
    }
    body.visited{
        & .desvanecerderecha{animation-duration: 1s;}
        & li:nth-child(1) > .desvanecerderecha{animation-delay: 0s;}
        & li:nth-child(2) > .desvanecerderecha{animation-delay: .2s;}
        & li:nth-child(3) > .desvanecerderecha{animation-delay: .4s;}
        & li:nth-child(4) > .desvanecerderecha{animation-delay: .6s;}
        & li:nth-child(5) > .desvanecerderecha{animation-delay: .8s;}
    }
    li:nth-child(1) > .desvanecerderecha{animation-delay: 1s;}
    li:nth-child(2) > .desvanecerderecha{animation-delay: 1.2s;}
    li:nth-child(3) > .desvanecerderecha{animation-delay: 1.4s;}
    li:nth-child(4) > .desvanecerderecha{animation-delay: 1.6s;}
    li:nth-child(5) > .desvanecerderecha{animation-delay: 1.8s;}
    #aboutMe .icon{
        transition-duration: 1s;
        rotate: -90deg;
    }
    .mobile-alert{
        opacity: 0;
        animation: move-down 1.3s 1.5s 1 ease-in-out forwards;
    }
    .tech-item:hover, .exp-item:hover{
        scale: 1.03;
        transition-duration: .1s;
        transition-timing-function: ease-in-out;
    }
    .fall1, .fall2, .fall3, .fall4, .fall5, .fall6, .fall7, .fall8, .fall9, .fall10{ /*initial tab configurations*/
        position: relative;
        bottom: 40px;
        opacity: 0;
        animation: move-down 1.3s 0.3s 1 ease-in-out forwards;
    }
    .fall1{animation-delay: 0.6s;}
    .fall2{animation-delay: 0.9s;}
    .fall3{animation-delay: 1.2s;}
    .fall4{animation-delay: 1.5s;}
    .fall5{animation-delay: 1.8s;}
    .fall6{animation-delay: 2.1s;}
    .fall7{animation-delay: 2.4s;}
    .fall8{animation-delay: 2.7s;}
    .fall9{animation-delay: 3s;}
    .fall10{animation-delay: 3.3s;}
    .gallery-img, .titlediv, .tech-item, .exp-item{
        position: relative;
        top: -40px;
        opacity: 0;
        animation: move-down 1.3s 0s 1 ease-in-out forwards;
    }
    .already-played > .gallery-img{
        animation: none;
        opacity: 1;
        top: 0px;
    }
    .gallery-img img:hover{
        transform: scale(1.03);
        translate: 0px -5px;
        transition-duration: .2s;
        margin: 0px;
        padding: 0px;
        border: 2px solid white;
    }
    .modal{
        animation: disappear 1s 0s 0 forwards;
        opacity: 1;
        transition: all 1s;
    }
    .modal.switch{
        animation: appear 1s 0s 1 forwards;
        opacity: 0;
        transition: all 1s;
    }
    .left{
        translate: -120px 0px;
        animation: move-right .3s .2s 1 ease-out forwards;
        opacity: 0;
    }
    .right{
        translate: 120px 0px;
        animation: move-left .3s .2s 1 ease-out forwards;
        opacity: 0;
    }
    .preview:hover{
        scale: 1.5 1.5;
        transition-duration: .2s;
        transition-delay: .4s;
        filter: none;
        border: 2px solid white;
    }
    .left:has(:hover) .preview, .right:has(:hover) .preview{
        scale: 1.5 1.5;
        transition-duration: .2s;
        transition-delay: .3s;
        filter: none;
        border: 2px solid white;
    }
    .overlayed-icon{
        transition-duration: .5s;
        transition-delay: .3s;
    }
    .left:has(:hover) .overlayed-icon, .right:has(:hover) .overlayed-icon{
        opacity: 0;
    }
    .grow-from-left{
        animation: growFromLeft .6s 0s 1 ease-in-out forwards;
     }
     .grow-from-right{
        animation: growFromRight .6s 0s 1 ease-in-out forwards;
     }
     .grow-from-center{
        animation: growFromCenter 1s 0s 1 ease-in-out forwards;
     }
     .shrink-from-center{
        animation: shrinkFromCenter .6s 0s ease-in-out forwards;
     }
    .game{
        transition-duration: .2s;
    }
    .game:hover{
        translate: 0px -5px;
        transition-duration: .3s;
        outline: 2px solid white;
        background: linear-gradient(to top, black, transparent 300%);
    }
    .gallery-img img [loading="lazy"]{animation: appear .1s .2s 1 ease-in forwards;}

    /* .gallery-img img{
        animation: still 0.5s 0s 1 ease-in-out forwards;
    }
    .gallery-img img:hover, .jam-game:hover{
        animation: move-up .5s 0s 1 forwards;
        /* animation-iteration-count: infinite; 
    } */
    .go-left{animation: slide-left 0.5s 0s 1 ease-in-out forwards;}
    .go-right{animation: slide-right 0.3s 0s 1 ease-in-out forwards;}
    a:has(.nav-icon):hover::after, footer span:hover::after{
        opacity: 0;
        animation: grow-horizontal .1s 1s 1 ease-out forwards;
        transform-origin: left center;
    }
    span:has(.nav-icon):hover::after{
        opacity: 0;
        animation: grow-horizontal .1s 1s 1 ease-out forwards;
        transform-origin: right center;
    }
    /* .slide-appear{animation: appear 5s 0s 1 ease-in-out forwards;}
    .slide-disappear{animation: disappear 0.2s 0s 1 ease-in-out forwards;} */
    .shrink{
        transition-duration: .1s;
    }
    .progress-bar{
        animation: grow-horizontal 1.5s 0.3s 1 ease-out forwards;
        transform-origin: left center;
    }
    .progress-bar > .tech-lvl{
        opacity: 0;
        animation: appear .2s 1.8s 1 ease-in forwards;
    }
    .duration-reset{
        animation-duration: 1s !important;
        animation-delay: .2s !important;
    }
    @media screen and (max-width: 1080px) {
        .li a:hover{
            translate: -165px 0px;
        }
    }
    @media screen and (max-width: 600px) {
    }
}
@media (prefers-reduced-motion: reduce){
    .aparecer{
        opacity:1;
    }
    .desvanecerderecha{
        translate: 30px 0px;
        opacity: 1;
    }
    .fall1, .fall2, .fall3, .fall4, .fall5, .fall6, .fall7, .fall8, .fall9, .fall10{
        opacity: 1;
    }
}