main{
    align-items: flex-start;
    height: auto;
}
main p{
    font-size: 25px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.tabcontent{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.sorry{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#design{
    height: 1000px;
}
#doodly{
    height: 100vh;
}
.tab-bar, .game-title{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 110px;
    width: 100%;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, black, transparent 80%);
}
.tabs{
    width:100%;
    height: 100%;
    margin: 0;
}
.tabs:hover{
    background: linear-gradient(to bottom, black, transparent 100%);
}
.tab-bar button.active{
    background: linear-gradient(to bottom, black, transparent 150%);
    font-size: 26px;
}
.tab-bar button:hover{
    font-size: 26px;
}
.content-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}
.gallery-img{
    display: flex;
    height: 350px;
    align-items: center;
}
.gallery-img img{
    height: 300px;
    width: auto;
    padding: 3px;
    border: 2px solid grey;
}
.gallery-img img:hover{
    cursor: pointer;
    height: 303px;
    margin: 0px;
    padding: 0px;
    border: 2px solid white;
} 
/*slider*/
.modal{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(26, 26, 26), transparent 200%);
}
.slide{
    display: none;
    position: fixed;
}
.slide-inner{
    display: flex;
    flex-direction: column;
    height: 90vh;
    z-index: 10;
}
.show-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 90vw;
}
.show-img img{
    height: 100%;
}
.show-img div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 120px;
    border-radius: 10px;
    background: linear-gradient(to top, transparent 40%, rgb(0, 0, 0) 50%, transparent 60%)
}
.show-img div:hover{
    cursor: pointer;
    background: linear-gradient(to top, transparent 35%, rgb(156, 156, 156) 50%, transparent 65%)
}
.slide-inner .icon{
    filter: invert(50%);
    width: 16px;
    height: auto;
    margin: 16px;
    align-self: flex-end;
}
.slide-inner .icon:hover{
    filter: invert();
    cursor: pointer;
    width: 18px;
    height: auto;
    margin: 15px;
    align-self: flex-end;
}
.switch{
    display: flex;
    animation: appear 0.2s 0s 1 ease-in-out forwards;
} 
.description{
    text-align: center;
    display: inline;
    width: 100%;
    font-size: 20px;
}
.game-title{
    flex-direction: column;
    align-items: center;
}
.game-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
    background: linear-gradient(to top, black, transparent 20%);
}
.jam{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.jam-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: auto;
}
.jam-frame{
    width: 100%;
    height: 200px;
    object-fit: contain;

}
.jam-frame img{
    height: 95%;
    width: auto;
}