main{
    align-items: flex-start;
    height: auto;
}
main p{
    font-size: 25px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.sorry{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
#design{
    height: 1000px;
}
#doodly{
    height: 100vh;
}
.tab-bar{
  background: linear-gradient(to bottom, black, transparent 80%);
}
.content-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
}
.gallery-img{
    display: flex;
    position: relative;
    height: clamp(350px, 40%, 500px);
    align-items: center;
    margin: 10px;
}
.gallery-img img{
    height: 300px;
    width: auto;
    padding: 3px;
    border: 2px solid grey;
    transition-duration: .2s;
}
.content-2 .gallery-img img{
    height: 200px;
}
.gallery-img img:hover{
    cursor: pointer;
    transform: scale(1.03);
    translate: 0px -5px;
    transition-duration: .2s;
    margin: 0px;
    padding: 0px;
    border: 2px solid white;
}
.frame1{
    position: absolute;
}
.frame1:hover{
    display:none;
}
/*slider*/
.modal{
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0), rgba(154, 45, 255, 0.8), black);
}
.slide-inner{
    display: flex;
    flex-direction: column;
    height: 95%;
    z-index: 10;
    margin-bottom: 0px;
}
.show-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: auto;
    max-height: 90%;
    width: 90vw;
}
.show-img img{
    height: 100%;
}/*
.show-img div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 120px;
    border-radius: 10px;
    background: linear-gradient(to top, transparent 40%, rgb(0, 0, 0) 50%, transparent 60%)
}
.show-img div:hover{
    cursor: pointer;
    background: linear-gradient(to top, transparent 35%, rgb(156, 156, 156) 50%, transparent 65%)
}*/
.slide-inner .icon{
    filter: invert(50%);
    width: 16px;
    height: auto;
    margin: 16px;
    transition-duration: .2s;
    align-self: flex-end;
}
.slide-inner .icon:hover{
    filter: invert();
    transition-duration: .2s;
    cursor: pointer;
    transform: scale(1.2);
    height: auto;
    align-self: flex-end;
}
.switch{
    display: flex;
    animation: appear 0.4s 0s 1 ease-in-out forwards;
}
.tabcontent, .tab-bar, .tabs{
    z-index: 1;
}
.doodly-bg{
    z-index: 0;
    position: fixed;
    top: 48px;
    right: 0px;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 100, 0)),  url("../assets/paper.jpg");
    opacity: 1;
}
#description{
    font-size: 16px;
    padding: 5px;
    padding-inline: 35px;
    border-radius: 5px;
    background:rgba(0, 0, 0, 0.7);
    vertical-align: top;
}
#description a{
    text-decoration: underline;
}
#twitch-embed{
    display: inline;
}
.doodly{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.doodly iframe{
    min-height: 650px;
}
/*game page*/
.game-title{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 110px;
    width: 100%;
    background: linear-gradient(to bottom, black, transparent 160%);
}
.participation{
    text-align: center;
    display: inline;
    width: 100%;
    font-size: 20px;
}
.description{
    text-align: left;
    display: inline;
    padding: 5px 0px 0px 20px;
    width: 100%;
    font-size: 12px;
}
.game-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 50px 0px 100px 0px;
    background: rgba(0, 0, 0,.2);
}
.jam{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}
.jam-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px 30px 0px;
    padding: 10px;
    width: 550px;
    height: auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 2px solid rgba(113, 113, 113, 0)
}
.jam-game:hover{
    background: linear-gradient(to top, black, transparent 300%);
    border: 2px solid white

}
.jam-frame{
    display: flex;
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.jam-frame img{
    height: 95%;
    width: auto;
}