@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Indie+Flower&family=Libre+Baskerville:wght@700&display=swap');

:root{
  font-size: 20px;
  --main-bg-color: rgb(193, 87, 255);
  --main-bg-color-opacity: rgba(193, 87, 255, .95);
}
@media screen and (max-width: 1440px) {
  :root{
    font-size: 18px;
  }
}
@media screen and (max-width: 1080px) {
  :root{
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  :root{
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  :root{
    font-size: 10px;
  }
}
html {scroll-behavior: smooth;}
body {
  font: 20px 'Montserrat', 'sans-serif';
  line-height: 1.8;
  /* background-color: black; */
  background: linear-gradient(to top, rgba(0, 0, 0), var(--main-bg-color), black)/*,  url("../assets/intro.jpg")*/; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
header{
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 48px;
  background-color: black;
}
header:has(+#gamesPage)::after, header:has(+#webDev)::after{ /*this ugly af selector adds blur to header and footer*/
  content: "";
  position: absolute;
  top:47px;
  width: 100%;
  height: 15px;
  background: linear-gradient(to bottom, black, transparent 100%);
}
main {
  display: flex;
  flex-direction: column;
  background-image: url("../assets/silueta-fondo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 13%;
  background-size: 55%;
  color: #ffffff;
  padding-bottom: calc(10vh - 24px);
}
main > section:nth-child(1){
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-height: 100vh;
  min-height: 95vh;
  /* min-height: 600px; */
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 40px;
  width: 100%;
  background-color: black;
  inset: 0;
  padding-top: 2px;
  z-index: 10;
  padding-right: 0 !important;
}
footer span{
  position: relative;
}
footer span img{
  filter:invert(80%);
  height: 25px;
  padding-inline: 20px;
  transition-duration: .2s;
}
footer span:hover img{
  cursor: pointer;
  filter:invert(100%);
  scale:calc(1.2);
  transition-duration: .2s;
}
footer ul{
  position: absolute;
  bottom: 25px;
  max-height: 0px;
  overflow:hidden;
  list-style-type: none;
  font-size: .8rem;
  padding: 5px;
  /* padding: 5x; */
  background-color: rgba(0, 0, 0, .7) ;
  border-radius: 8px;
  transition-duration: .1s;
}
footer li{
  padding-block: 10px;
}
footer p{
  font-size: .70rem;
  color: #818181;
  padding-right: 80px;
}
footer::before{
  content: "";
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 20px;
  background: linear-gradient(to top, black, transparent 100%);
  z-index: 0;
}
p {font-size: 12px;}
h1{
  font-size: 3.5rem;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}
h2{
  font-size: 25px;
}
h3{
  font-size: 25px;
}
h4{
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 25px;
}
a{
  color: #ffffff;
  /*mix-blend-mode: difference;*/
}
a:hover, a:visited{color: white;}
button{
  background-color: transparent;
  border: 0px;
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 25px;
}
iframe{
  width: 80vw;
  height: 30vh;
}
.nav-icon{
  height: 32px !important;
  width: auto !important;
  transition-duration: .2s;
  margin: 5px 15px 7px 15px;
  position: relative;
  z-index: 1;
}
.nav-icon:hover{
  scale:calc(1.2);
  transition-duration: .2s;
  filter: brightness(100);
  cursor: pointer;
}
a:has(.nav-icon):hover::after{
  content: "Inicio";
  font-family: 'Montserrat', 'sans-serif';
  font-size: 14px;
  color: white;
  background-color: black;
  outline: 2px solid grey;
  border-radius: 3px;
  padding: 3px;
  padding-inline: 7px;
  position: absolute;
  top: 7px;
  left: 70px;
  z-index: 5;
}
#EN a:has(.nav-icon):hover::after{
  content: "Home";
}
span:has(.nav-icon):hover::after{
  content: "Atrás";
  font-family: 'Montserrat', 'sans-serif';
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: black;
  outline: 2px solid rgb(194, 194, 194);
  border-radius: 3px;
  padding: 3px;
  padding-inline: 7px;
  position: absolute;
  top: 7px;
  right: 55px;
  z-index: 5;
}
#EN span:has(.nav-icon):hover::after{
  content: "Back";
}
footer span:hover::after{
  content: "Idioma";
  font-family: 'Montserrat', 'sans-serif';
  font-size: 14px;
  color: white;
  cursor: pointer;
  background-color: black;
  outline: 2px solid grey;
  border-radius: 3px;
  padding: 3px;
  padding-inline: 7px;
  position: absolute;
  top: 7px;
  z-index: 5;
}
#EN footer span:hover::after{
  content: "Language";
}
.gallery, .games{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.invert{
  filter: invert(50%);
}
.invert:hover{
  filter: invert(100%);
}
.rotate-180{
  transform: rotate(180deg);
  transition-duration: .3s;
}
.enlacesinicio{
  /*background: linear-gradient(to left, rgba(0, 0, 0, 1), transparent);*/
  translate: -100px 0px;
  opacity: 0;
  text-align: right;
}
.nav li a{
  font-size: 1rem;
  transition-duration: .3s;
  width: 9.5rem;
  cursor: pointer;
}
.nav li a:hover, .nav li a:focus{
  background: linear-gradient(to left, white 50%, transparent);
  color: black;
  /*box-shadow: 3px 0px 3px rgba(255, 255, 255, 1);*/
  border-radius: 5px;
 /* mix-blend-mode: difference;*/
  outline: none;
  font-weight: 700;
}
.align-right{
  text-align: right;
}
.tab-bar{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 110px;
  width: 100%;
  margin-bottom: 20px;
}
.tab-bar button{
  transition-duration: .3s;
}
.tabs{
  font-size: 1.2rem;
  width:100%;
  height: 100%;
  margin: 0;
  border-radius: 10px;
  opacity: 0;
}
.tabs:hover, .tabs:focus{
  background: linear-gradient(to bottom, black, transparent 100%);
  outline: none;
}
.tab-bar button.active{
  background: linear-gradient(to bottom, black, transparent 150%);
  font-size: 1.25rem;
}
.tab-bar button:hover{
  font-size: 1.25rem;
  transition-duration: .3s;
}
.tab-bar:has(+#Education){ /*only affects index page*/
  padding-top: 30px;
}
.tab-bar > span{
  display: none;
}
.tabcontent{
  padding-top: 20px;
  display: none;
  width: 100%;
  align-items: center;
  justify-content: center;
}
#aboutMe{
  display: grid;
  place-content: center;
  color: white;
  transition-duration: 1s;
  max-height: 0px;
  overflow: clip;
  padding-block: 0px;
  margin-right: 0;
  width: 77.5%;
  margin-inline: auto;
  background: linear-gradient(to bottom, rgba(0,0,0, .5), var(--main-bg-color-opacity) 100%);
  border-radius: 40px;
  padding-inline: 40px;
}
#aboutMe > div{
  margin-block: auto;
}
#aboutMe .icon{
  filter: invert(50%);
  width: 16px;
  height: auto;
  margin: 16px;
  align-self: flex-end;
}
#aboutMe .icon:hover{
  filter: invert();
  cursor: pointer;
  scale: 1.2;
  transition-duration: .2s;
  height: auto;
  margin: 15px;
  align-self: flex-end;
}
#aboutMe > div:nth-child(1){
  text-align: right;
}
#aboutMe .tabs{
  margin: 5px;
}
#aboutMe ul{
  font-size: .8rem;
  margin-right: 50px;
  display: inline-block;
}
#aboutMe a{
  text-decoration: underline;
}
#aboutMe article{
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-inline: auto;
  margin-bottom: 20px;
}
.profile{
  display: inline-block;
  vertical-align: top;
  width: 9.5rem;
  border-radius: 50%;
  margin-left: 20px;
  aspect-ratio: 1;
  border: #ffffff 2px solid;
  overflow: clip;
  margin-top: 0;
}
.profile > img{
  position: relative;
  display: inline;
  top: -25px;
  width: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  object-fit: contain;
}
#Technology, #Design:has(+#Experience){
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#Contact a{
  text-decoration: none;
}
#Contact a:hover{
  text-decoration: underline;
}
#Contact li{
  justify-content: flex-start;
  align-items: center;
  width: 550px;
}
#Contact li > div:nth-child(2){
  text-align: left;
  width: 60%;
}
.contact-logo{
  margin-left: 0;
  display: grid;
  place-content: center;
  height: 90px;
  width: 30% !important;
}
.contact-logo > object{
  width: 60px;
  fill: white;
}
.tech-item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-block: 5px;
  border-radius: 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, .5), rgb(193, 87, 255, .1));
}
.tech-item:hover{
  background: linear-gradient(to top, rgba(0, 0, 0, .5), rgb(0, 0, 0, .3));
  transition-duration: .3s;
}
.tech-lvl {
  position: relative;
  font-size: 14px;
  font-style: italic;
  top: 15px;
  width: 150px;
}
.progress-bar{
  height: 7px;
  transition-duration: .5s;
  background-color: white;
  transition-delay: .2s;
  transition-duration: .4s;
}
.progress-bar > .tech-lvl{
  display: none;
}
.tech-name{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  padding-left: 10px;
  padding-bottom: 5px;
  width: 500px;
}
.tech-name > p {
  font-size: 1.2rem;
  padding-bottom: 3px;
}
.tech-logo{
  height: 72px;
  width: 72px;
}
.tech-logo img{
  width: 100%;
}
.exp-item{
  width: 850px;
  padding: 30px;
  border-radius: 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(53, 23, 70, 0.4));
}
.exp-item:hover{
  background: linear-gradient(to top, rgba(0, 0, 0, .7), rgb(0, 0, 0, .6));
}
.exp-item{
  display: flex;
  justify-content: space-between;
  max-height: 600px;
  margin: 10px;
}
.dot{
  background-color: white;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 16px;
}
li div:not(.dot){
  width: 95%;
}
.exp-title{
  font-size: 1.4rem;
  font-weight: 600;
}
.exp-company{
  color: white;
  font-size: 1.3rem;
}
.exp-date, .exp-description{
  font-size: 1.05rem;
}
.exp-description{
  transition-duration: .2s;
}
.exp-date span{
  text-decoration: underline;
}
.exp-date span:hover{
  cursor: pointer;
}
.exp-description{
  max-height: 0px;
  overflow: hidden;
}
.exp-item .grow{
  padding-block: 10px !important;
  transition-duration: .6s !important;
  padding-left: 15px !important;
}
#aboutMe section > span{
  display: none;
}

@media screen and (max-width: 1440px) {
  #aboutMe{
    width: 90%;
  }
  #aboutMe .tabs:has(+.tabs){
    margin: 0;
    border-right: 2px solid black;
    border-radius: 8px;
    border-image: linear-gradient(transparent 10%, rgba(0, 0, 0, 0.5), transparent 90%) 5;
  }
  .tabs:hover, .tabs:focus{
    border: none !important;
  }
}
@media screen and (max-width: 1080px) {
  main {
    background-size: 75%;
    background-position: 130% 13%;
  }
  main > section:nth-child(1){
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-height: 100vh;
    min-height: 95vh;
    /* min-height: 600px; */
  }
  footer{
    width: 100%;
  }
  li a{
    translate: -170px 0px;
  }
  #aboutMe .tabs{
    margin: 0px;
  }
  .exp-item{
    width: 600px;
  }
  .tech-item{
    width: 700px;

  }
}
@media screen and (max-width: 768px) {
  main {
    background-size: 125%;
    background-position: -10% 13%;
  }
  #aboutMe{
    width: 98%;
  }
  #aboutMe .tabs{
    margin: 5px;
  }
  li a{
    line-height: 1.9;
  }
  .tabs{
    font-size: 1.5rem;
  }
  .tabs:hover, .tabs:focus, .tab-bar button.active{
    font-size: 1.6rem;
  }
  div:has(.fill-ul){
    display: flex;
    justify-content: center;
  }
  .exp-item{
    margin-inline:auto;
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  main {
    background-size: 155%;
    background-position: 25% 13%;
  }
  #aboutMe article{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #aboutMe ul{
    width: 80%;
  }
  #aboutMe section{
    /* grid-template-columns: 1fr 3fr; */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent 80%);
    border-radius: 10px;
  }
  #aboutMe section > div{
    margin-block: auto;
  }
  .tab-bar{
    display: flex;
    flex-direction: column;
    width: unset;
    height: 350px;
    width: 150px;
    max-width: 500px;
    margin-top: 10px;
    margin-left: 30px;
    transition-duration: .3s;
    z-index: 10;
    overflow: hidden;
  }
  .tab-bar button{
    text-align: left;
  }
  .tab-bar button.active{
    background: transparent;
  }
  .tab-bar button:hover{
    font-size: 1.6rem;
  }
  .tab-bar .nav-icon{
    filter: brightness(10);
  }
  .tab-bar .nav-icon:hover{
    scale:calc(1.1);
    transition-duration: .2s;
    filter: brightness(100);
    cursor: pointer;
  }
  .tabs{
    padding-block: 10px;
    width: 100px;
  }
  .shrink{
    max-width: 0px;
    border-radius: 10px;
    margin-left: 10px;
    transition-duration: .3s;
    position: absolute;
  }
  .shrink button{
    visibility: hidden;
  }
  #aboutMe span{
    display: block !important;
    cursor: pointer;
  }
  #aboutMe span::after{
    content: none;
  }
  #aboutMe span img{
    width: 25px;
    height: 25px;
    margin-block: 10px;
    transition-duration: .3s;
  }
  .menu-over{
    background:  linear-gradient(to left, black 30%, transparent 250%);
    position: absolute;
    border-radius: 10px;
    margin-left: 0px;
  }
  .menu-over button{
    padding-left: 15px;

  }
  #aboutMe .tabs:has(+.tabs){
    margin: 2px;
    border-right: none;
    border-bottom: 2px solid black;
    border-radius: 8px;
    border-image: linear-gradient(90deg, transparent 10%, rgba(0, 0, 0, 0.5), transparent 90%) 2;
  }
  #aboutMe article ul{
    max-width: 550px;
    min-width: 230px;
    width:  unset;

    padding-top: 10px;
    font-size: 1.2rem;
    margin-right: 0px;
  }
  .tabcontent{
    padding-top: 0px;
    padding-inline: 10px;
  }
  .tech-item{
    width: 430px;
    padding-block: 5px;
  }
  .tech-logo img{
    margin-top: 20px;
  }
  .progress-bar{
    position: relative;
    height: 15px;
  }
  .progress-bar > .tech-lvl{
    position: absolute;
    width: auto;
    text-align: right;
    padding: 0px;
    top: -2px;
    left: 5px;
    font-size: 1.2rem;
    display: block;
    color: white;
    mix-blend-mode: difference;
  }
  .tech-lvl{
    display: none;
  }
  #Contact li{
    width: 430px;
  }
  .exp-item{
    width: 430px;
    padding: 15px;
  }
  .exp-title{
    font-weight: unset;
  }
  .exp-company{
    color: white;
  }
  .exp-description{
    transition-duration: .2s;
  }
  .exp-date{
    text-decoration: underline;
    font-size: 1.3rem;
  }
  .exp-date span:hover{
    cursor: pointer;
  }
  .exp-description{
    max-height: 0px;
    overflow: hidden;
  }
  .exp-item .grow{
    transition-duration: .6s !important;
    padding: 10px 0px !important;
  }
}
@media screen and (max-width: 480px) {
  .tech-item, .exp-item   #Contact li{
    width: 430px;
    width: 250px;
    padding-block: 5px;
  }
}
.grow{
  max-height: 5000px !important;
  transition-duration: .2s !important;
  padding: 25px !important;
  padding-inline: 40px !important;
  padding-bottom: 50px !important;
}
.grow .icon{
  rotate: 0deg !important;
  transition-duration: .3s;

}
.hide{
  display: none;
}