@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {scroll-behavior: smooth;}
body {
  font: 20px 'Montserrat', 'sans-serif';
  line-height: 1.8;
  /* background-color: black; */
   background-image: linear-gradient(to top, rgba(0, 0, 0), rgba(115, 50, 177, 0.8), black)/*,  url("../assets/intro.jpg")*/; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;

}
header{
  display: flex;
  justify-content: space-between;
  height: 48px;
  background-color: black;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  background-image: url("../assets/silueta-fondo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 120% 13%;
  background-size: 65%;
  height: 100%;
  color: #ffffff;
}
footer{
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding-top: 2px;
}
p {font-size: 12px;}
h1{
  font-size: 70px;
  color: black;
  font-family: 'Ubuntu', sans-serif;}
h3{
  font-size: 84px;
  color: grey;
  font-family: 'Ubuntu', sans-serif;
}
h4{
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 25px;
}
a{
  color: #ffffff;
  mix-blend-mode: difference;
}
a:hover{color: white;}
button{
  background-color: transparent;
  border: 0px;
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 25px;
}
iframe{
  width: 80vw;
  height: 30vh;
}
#aboutMe{
  display: grid;
  place-content: center;
  color: white;
  transition-duration: 1s;
  max-height: 0px;
  overflow: hidden;
  margin-top: 60px;
  margin-right: 0;
  width: 80%;
  margin-inline: auto;
}
.nav-icon{
  height: 32px !important;
  width: auto !important;
  margin: 5px 15px 7px 15px;
}
.nav-icon:hover{
  height: 34px !important;
  margin: 4px 14px 6px 14px;
  filter: brightness(100);
  cursor: pointer;
}
.gallery, .games{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.invert{
  filter: invert(50%);
}
.invert:hover{
  filter: invert(50%);
}
.rotate-180{
  transform: rotate(180deg);
}
.enlacesinicio{
  background: linear-gradient(to left, rgba(0, 0, 0, 1), transparent);
  opacity: 0;
  text-align: right;
}
.nav li a:hover{
  background: linear-gradient(to left, white 50%, black);
  color: black;
  /*box-shadow: 3px 0px 3px rgba(255, 255, 255, 1);*/
  border-radius: 5px;
  mix-blend-mode: difference;
  transition-duration: .5s;
}
.padding-right{
  padding-right: 80px;
}
.align-right{
  text-align: right;
}
section > div{
  margin-block: auto;
}
.profile{
  display: inline-block;
  vertical-align: top;

  width: 120px;
  height: 120px;
  border-radius: 50%;
  aspect-ratio: 1;
  border: #ffffff 2px solid;
  overflow: hidden;
  margin-top: 0;

}
.profile > img{
  position: relative;
  display: inline;
  top: -20px;
  width: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  object-fit: contain;
}
.grow{
  max-height: 1000px !important;
  transition-duration: .5s !important;
}
section ul{
  font-size: 14px;
  width: 80%;
  display: inline-block;
}