@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

/* html {scroll-behavior: smooth;} */
body {
    font: 20px 'Montserrat', 'sans-serif';
    line-height: 1.8;
    background-color: black;
}
header{
  display: flex;
  justify-content: space-between;
  height: 48px;
}
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: auto;
  background-image:  linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 100, 0)),  url("../assets/intro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 108%;
  color: #ffffff;
}
footer{
  display: flex;
  justify-content: flex-end;
  background-color: black;
}
p {font-size: 12px;}
h1{
  font-size: 70px;
  color: black;
  font-family: 'Ubuntu', sans-serif;}
h3{
  font-size: 84px;
  color: grey;
  font-family: 'Ubuntu', sans-serif;
}
h4{
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 25px;
}
a{color: #ffffff;}
a:hover{
  color: white;
}
button{
  background-color: transparent;
  border: 0px;
  color: white;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 25px;
}
iframe{
  width: 80vw;
  height: 30vh;
}
.nav-icon{
  height: 32px !important;
  width: auto !important;
  margin: 5px 15px 7px 15px;
}
.nav-icon:hover{
  height: 34px !important;
  margin: 4px 14px 6px 14px;
  filter: brightness(100);
  cursor: pointer;
}
.gallery, .games{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.invert{
  filter: invert(50%);
}
.invert:hover{
  filter: invert(50%);
}
.rotate-180{
  transform: rotate(180deg);
}
.enlacesinicio{
  background: linear-gradient(to left, rgba(0, 0, 0, 1), transparent);
  opacity: 0;
  text-align: right;
}
.nav li a:hover{
  background: linear-gradient(to left, white, black);
  color: black;
}
.padding-right{
  padding-right: 80px;
}
.align-right{
  text-align: right;
}